PORT=8000
CORS_ORIGIN=*
MONGODB_URI=mongodb+srv://sonikm443:WLzGjLrAiwyQGtyR@cluster0.eiz1i8z.mongodb.net/
ACCESS_TOKEN_SECRET="rendom token"
ACCESS_TOKEN_SECRET_EXPIRY=1d
REFRESH_TOKEN_SECRET="rendom token"
REFRESH_TOKEN_SECRET_EXPIRY=10d